server:
  port: 4004

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service-route
          uri: http://auth-service:4005
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: member-service-route
          uri: http://member-service:4000
          predicates:
            - Path=/api/members/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: api-docs-member-route
          uri: http://member-service:4000
          predicates:
            - Path=/api-docs/members
          filters:
            - RewritePath=/api-docs/members, /v3/api-docs

        - id: api-docs-auth-route
          uri: http://auth-service:4005
          predicates:
            - Path=/api-docs/auth
          filters:
            - RewritePath=/api-docs/auth,/v3/api-docs

logging:
  level:
    org.springframework.cloud.gateway: TRACE