server:
  port: 4004

spring:
  cloud:
    gateway:
      routes:
        - id: patient-service-route
          uri: http://patient-service:4000
          predicates:
            # 1. Match sub-paths (e.g., /api/patients/123)
            - Path=/api/patients/**
            # 2. Match the exact list path (e.g., /api/patients)
            - Path=/api/patients
          filters:
            - StripPrefix=1

        - id: api-docs-patient-route
          uri: http://patient-service:4000
          predicates:
            - Path=/api-docs/patients
          filters:
            - RewritePath=/api-docs/patients, /v3/api-docs

logging:
  level:
    org.springframework.cloud.gateway: TRACE